# Uploads & Caches
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/blogs.dir/

# Backups and Logs
*.log
*.sql
*.sql.gz
sitemap.xml
sitemap.xml.gz

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/